:root{
    --typewriterSpeed: 3s;
    --amountSteps: 10;
    --typeSpeedDivStepSpeed: 750ms;
}

body{
    margin: 0px;
}

#title {
    margin-left: calc(50% - 137px);
    margin-bottom: 100px;
    margin-top: 50px;
    align-content: center;
    background-color: #f3ec78;
    background-image: linear-gradient(gray, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.grad1 {
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(white, rgba(47, 46, 46, 0.4));
}

#intro {
    margin-left: 20%;
    margin-right: 50%;
    font-size: 25px;
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

#introAnimation {
    margin-left: 20%;
    margin-right: 50%;
    font-size: 25px;
    width: max-content;
    height: max-content;
    position: relative;
}

#introAnimation::before,
#introAnimation::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#introAnimation::before{
    background: rgb(248,248,248);
    animation: typewriter var(--typewriterSpeed) steps(var(--amountSteps)) 1s forwards;            ;           ;
}

#introAnimation::after{
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--amountSteps)) 1s forwards,        blink var(--typeSpeedDivStepSpeed) steps(var(--amountSteps)) infinite;
    -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--amountSteps)) 1s forwards,        blink var(--typeSpeedDivStepSpeed) steps(var(--amountSteps)) infinite;
}

@keyframes typewriter{
    to{
        left: 100%;
    }
}

@keyframes blink {
    to{
        background: transparent;
    }
}

.showcase {
    padding: 10px;
}

#showcase-title {
    margin-left: calc(50% - 90px);
    margin-bottom: 300px;
}

#showcase-one {
    margin-left: 50%;
    margin-right: 15%;
    margin-top: 10%;
    font-size: 18px;
}

#showcase-two {
    margin-left: 50%;
    margin-right: 15%;
    margin-top: 11%;
    font-size: 18px;
}

#showcase-three {
    margin-left: 50%;
    margin-right: 15%;
    margin-top: 15%;
    font-size: 18px;
}

.socials {
    padding: 10px;
    margin-top: -22px;
    font-family: 'Roboto Mono', monospace;
    background-color: #2e2e2e;
}

#contacts {
    margin-left: calc(50% - 80px);
    color: white;
}

.socialButtons {
    margin-left: calc(50% - 119px);
}

.fa {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: -12px;
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #f5f5f5;
    color: black;
}